/* start animate styles */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeInUp {
  from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@keyframes fadeInUp {
  from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@-webkit-keyframes fadeInDown {
  from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@keyframes fadeInDown {
  from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@-webkit-keyframes fadeInLeft {
  from { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@keyframes fadeInLeft {
  from { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@-webkit-keyframes fadeInRight {
  from { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@keyframes fadeInRight {
  from { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@-webkit-keyframes zoomIn {
  from { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); }
  50% { opacity: 1; }
  to{ opacity: 1; }
}

@keyframes zoomIn {
  from { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); }
  50% { opacity: 1; }
  to{ opacity: 1; }
}

  

@media screen and (min-width: 800px){
	#brands.hidden .h1, #brands.hidden .h3 { opacity: 0; }
	#brands.animated .h1, #brands.animated .h3 { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
	#brands.hidden .brand { opacity: 0; }
	#brands.animated .brand { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .3s; animation-duration: .3s; -webkit-animation-name: zoomIn; animation-name: zoomIn; }
	#brands.animated .brand:nth-child(1) { -webkit-animation-delay: .5s;  animation-delay: .5s; }
	#brands.animated .brand:nth-child(2) { -webkit-animation-delay: .7s;  animation-delay: .7s; }
	#brands.animated .brand:nth-child(3) { -webkit-animation-delay: .9s;  animation-delay: .9s; }
	#brands.animated .brand:nth-child(4) { -webkit-animation-delay: 1.1s;  animation-delay: 1.1s; }
	#brands.animated .brand:nth-child(5) { -webkit-animation-delay: 1.3s;  animation-delay: 1.3s; }
	#brands.animated .brand:nth-child(6) { -webkit-animation-delay: 1.5s;  animation-delay: 1.5s; }
	#brands.animated .brand:nth-child(7) { -webkit-animation-delay: 1.7s;  animation-delay: 1.7s; }
	#brands.animated .brand:nth-child(8) { -webkit-animation-delay: 1.9s;  animation-delay: 1.9s; }
	#brands.animated .brand:nth-child(9) { -webkit-animation-delay: 2.1s;  animation-delay: 2.1s; }
	#brands.animated .brand:nth-child(10) { -webkit-animation-delay: 2.3s;  animation-delay: 2.3s; }
  
}

@media screen and (min-width: 800px){
	#brands .social.hidden { opacity: 0; }
	#brands .social.animated { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
  
}

@media screen and (min-width: 800px){
	#new_catalogs.hidden  { opacity: 0; }
	#new_catalogs.animated  { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
	#new_catalogs.hidden .slick-list { opacity: 0; }
	#new_catalogs.animated .slick-list { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: 0.7s; animation-duration: 0.7s; -webkit-animation-name: zoomIn; animation-name: zoomIn; -webkit-animation-delay: .2s;  animation-delay: .2s; }
  
}

@media screen and (min-width: 800px){
	#advantages.hidden  { opacity: 0; }
	#advantages.animated  { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-name: fadeInRight; animation-name: fadeInRight; }
  
}
@media screen and (min-width: 800px){
	#more_about.hidden  { opacity: 0; }
	#more_about.animated  { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-name: fadeInLeft; animation-name: fadeInLeft; }
  
}

@media screen and (min-width: 800px){
	/*#certificates.hidden { opacity: 0; }
	#certificates.animated { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }*/
	#certificates.hidden .left { opacity: 0; }
	#certificates.animated .left { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-name: fadeInRight; animation-name: fadeInRight; -webkit-animation-delay: 0.7s;  animation-delay: 0.7s; }
	#certificates.hidden .certificate { opacity: 0; }
	#certificates.animated .certificate { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .3s; animation-duration: .3s; -webkit-animation-name: zoomIn; animation-name: zoomIn;}
	#certificates.animated .certificate:nth-child(1) { -webkit-animation-delay: .8s;  animation-delay: .8s; }
	#certificates.animated .certificate:nth-child(2) { -webkit-animation-delay: 1.0s;  animation-delay: 1.0s; }
	#certificates.animated .certificate:nth-child(3) { -webkit-animation-delay: 1.2s;  animation-delay: 1.2s; }
	#certificates.animated .certificate:nth-child(4) { -webkit-animation-delay: 1.4s;  animation-delay: 1.4s; }
	#certificates.animated .certificate:nth-child(5) { -webkit-animation-delay: 1.6s;  animation-delay: 1.6s; }
	#certificates.animated .certificate:nth-child(6) { -webkit-animation-delay: 1.8s;  animation-delay: 1.8s; }
	#certificates.animated .certificate:nth-child(7) { -webkit-animation-delay: 2.0s;  animation-delay: 2.0s; }
	#certificates.animated .certificate:nth-child(8) { -webkit-animation-delay: 2.2s;  animation-delay: 2.2s; }
}
@media screen and (min-width: 800px){
	/*#contacts.hidden { opacity: 0; }
	#contacts.animated { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }*/
	#contacts.hidden .left { opacity: 0; }
	#contacts.animated .left { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-name: fadeInRight; animation-name: fadeInRight; -webkit-animation-delay: 0.7s;  animation-delay: 0.7s; }
	#contacts.hidden .filial { opacity: 0; }
	#contacts.animated .filial { -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-duration: .3s; animation-duration: .3s; -webkit-animation-name: zoomIn; animation-name: fadeInUp;}
	#contacts.animated .filial:nth-child(1) { -webkit-animation-delay: .8s;  animation-delay: .8s; }
	#contacts.animated .filial:nth-child(2) { -webkit-animation-delay: 1.0s;  animation-delay: 1.0s; }
	#contacts.animated .filial:nth-child(3) { -webkit-animation-delay: 1.2s;  animation-delay: 1.2s; }
	#contacts.animated .filial:nth-child(4) { -webkit-animation-delay: 1.4s;  animation-delay: 1.4s; }
	#contacts.animated .filial:nth-child(5) { -webkit-animation-delay: 1.6s;  animation-delay: 1.6s; }
	#contacts.animated .filial:nth-child(6) { -webkit-animation-delay: 1.8s;  animation-delay: 1.8s; }
	#contacts.animated .filial:nth-child(7) { -webkit-animation-delay: 2.0s;  animation-delay: 2.0s; }
	#contacts.animated .filial:nth-child(8) { -webkit-animation-delay: 2.2s;  animation-delay: 2.2s; }
}







/* and animate styles */