/* start content styles */



.left_col {
    float: left;
    width: 220px;
    box-sizing: border-box;
    clear: left;
    
    .h1 {
	margin-bottom: 15px;
    }
    
    nav {
	padding-top: 40px;
	text-transform: uppercase;
	clear: left;
	padding-bottom: 35px;
	
	li {
	    
	    min-height: 19px;
	    margin-bottom: 8px;
	    font-size: 13px;
	    font-weight: 500;
	    
	    &.active {
		font-weight: 900;
		background: url(images/cogwheels2.png) no-repeat left center;
		a {
		    color: $color_a;
		    text-decoration: underline;
		}
	    }
	    
	    a {
		text-decoration: none;
		display: inline-block;
		padding: 7px 10px 7px 52px;
		
		&:active {
		    text-decoration: underline;
		}
	    }
	}
    }
    
    .h1+nav {
	padding-top: 0;
    }
}

.left_indent {
    margin-left: 330/960*100%;
}

#content .country {
    float: right;
    width: 200px;
    padding-top: 40px;
    height: 130px;
    text-align: center;
    position: relative;
    margin-bottom: 63px;
    
    img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
    }
    .country_name {
	display: inline-block;
	background: url(images/icon_address_black.png) no-repeat left center;
	height: 23px;
	line-height: 23px;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
	padding-left: 28px;
	font-size: 13px;
	font-weight: 500;
    }
}

h3.brand_name {
    font-weight: 900;
    //margin-top: -37px;
    margin-bottom: 30px;
    padding-top: 7px;
}
.new_items_all {
    //margin-top: -37px;
    margin-bottom: 30px;
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 7px;
    
    strong {
	font-weight: 900;
	margin-right: 85px;
    }
}

#content {
    
    h1 {
	float: left;
    }
    
    h1 + .info_block {
	clear: left;
    }
    
    .text_block {
	max-width: 340px;
	max-height: 175px;
	font-size: 11px;
	line-height: 140%;
	text-align: justify;
	margin-bottom: 63px;
	
	p {
	    margin-bottom: 10px;
	}
	
	.mCSB_scrollTools {
	    width: 5px;
	    left: 0;
	    right: auto;
	}
	.mCSB_inside > .mCSB_container{
	    margin-right: 0;
	    margin-left: 25px;
	}
    }
    
    .text_block+.h1 {
	margin-bottom: 15px;
    }
}

.brand_country {
    background: url(images/icon_brand_coun.png) no-repeat left center;
    padding: 7px 0 5px 52px;
    color: $color_a;
    font-weight: 900;
}

.catalogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -6px;
    padding: 1px;
    
    
    &:after {
	content: '';
	flex: 0 0 48%;
    }
    .catalog {
	width: 130px;
	vertical-align: top;
	margin: 0 5px 35px;
	padding-top: 19px;
	
	&.new {
	    .img:after {
		content: "";
		position: absolute;
		bottom: -5px;
		right: -10px;
		width: 64px;
		height: 28px;
		background: url(images/new.png) no-repeat left center;
	    }
	}
	
	.img {
	    height: 130px;
	    width: 130px;
	    box-sizing: border-box;
	    border: 5px solid $color_blue;
	    display: block;
	    margin-bottom: 20px;
	    position: relative;
	    @include transition(border-color);
	    
	    img {
		margin-top: -19px;
		margin-left: -5px;
	    }
	}
	a {
	    text-decoration: none;
	    
	    &:hover {
		.img {
		    border-color: $color_a;
		}
	    }
	    
	    &:active {
		text-decoration: underline;
	    }
	}
    }
}
    
    .button_block {
	&:before, &:after {
	    content: "";
	    display: inline-block;
	    width: 22px;
	    height: 22px;
	    background: url(images/icon_more.png) no-repeat left center;
	    vertical-align: middle;
	}
	
	.button {
	    vertical-align: middle;
	    color: $color_text;
	    margin: 0 45px;
	    
	    &:hover {
		color: #fff;
	    }
	    &:active {
		color: $color_blue;
	    }
	}
    }

.vacancies_list {
    font-size: 13px;
    line-height: 140%;
    padding-bottom: 30px;
    font-weight: 700;
    padding-top: 60px;
    text-transform: uppercase;
    
    li {
	margin-bottom: 20px;
	
	a {
	    text-decoration: none;
	    
	    &:active {
		text-decoration: underline;
	    }
	    
	    &:after {
		content: ">";
		display: inline-block;
		margin-left: 10px;
	    }
	}
    }
}

.no_vacancies {
    max-width: 180px;
    padding-top: 60px;
    display: none;
}

.vacancy {
    .vacancy_i {
	.strong {
	    float: left;
	    width: 130px;
	    text-align: right;
	    font-weight: 900;
	    font-size: 13px;
	    line-height: 130%;
	}
	p {
	    margin-left: 170/630*100%;
	    margin-bottom: 15px;
	    font-size: 13px;
	    line-height: 130%;
	    font-weight: 500;
	}
    }
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    clear: both;
    
    .info_block {
	padding-top: 15px;
	width: 215px;
	
	.h4, h4 {
	    width: 150px;
	    margin-bottom: 35px;
	}
    }
    
    .info_block.thinner {
	width: 160px;
	
	.h4, h4 {
	    width: 120px;
	    margin-bottom: 35px;
	}
    }
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -6px;
    padding: 1px;
    
    
    &:after {
	content: '';
	flex: 0 0 48%;
    }
    .review {
	width: 173px;
	vertical-align: top;
	margin: 0 5px 35px;
	padding-top: 19px;
	
	a {
	    display: block;
	    
	    img {
		max-width: 100%;
	    }
	}
    }
}

.scrap_table {
    table {
	border: 0;
	width: 100%;
	background-color: #e8e8e8;
	color: #595550;
	font-weight: 700;
	text-align: center;
	font-size: 17px;
	margin-bottom: 50px;
	
	td, th {
	    height: 20px;
	    padding: 10px 35px;
	}
	
	.blue {
	    background-color: $color_blue;
	    color: #fff;
	    font-weight: 900;
	    text-transform: uppercase;
	    text-align: left;
	}
	.turquoise {
	    background-color: $color_a;
	    color: #fff;
	    font-weight: 900;
	    text-align: left;
	}
	.dark_grey {
	    background-color: #d1d1d1;
	    color: #1d0f00;
	    
	}
    }
    
    .info_block.download {
	width: 165px;
	margin-right: 160px;
	padding-left: 0;
	float: left;
	.h4 {
	    display: block;
	    width: auto;
	    margin-bottom: 0;
	}
	
	&:last-child {
	    margin-right: 0;
	}
	
	a {
	    text-decoration: none;
	    display: block;
	    padding-left: 52px;
	    
	    &:hover {
		color: $color_text;
		
		.h4 {
		    color: $color_a;
		}
	    }
	    &:active {
		.h4 {
		    text-decoration: underline;
		}
	    }
	}
    }
}

.page_404 {
    display: table-row;
    height: 100%;
    
    .in {
	display: table-cell;
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 100px 20px 90px;
	vertical-align: middle;
    }
}

@media screen and (max-width: 999px) {
    .left_col {
	nav {
	    li {
		margin-bottom: 5px;
		
		&.active{     
		background-size: 25px auto;
		}
		
		a { 
		    padding-left: 36px; 
		}
	    }
	}
    }
    .no_vacancies, .vacancies_list {
	padding-top: 50px;
    }
    .scrap_table {
	table {
	    font-size: 15px;
	    margin-bottom: 40px;
	    
	    td, th {
		padding: 10px 35px;
	    }
	}
    }
}
@media screen and (max-width: 800px) {
    .left_indent {
	margin-left: 220px;
    }
    
    #content .country {
	width: 200/630*100%;
    }
    
    #content .text_block {
	margin-right: 230/630*100%
    }
    
    .vacancy {
	.vacancy_i {
	    p {
		margin-left: 150px;
	    }
	}
    }
    .scrap_table {
	table {
	    font-size: 13px;
	    margin-bottom: 30px;
	    
	    td, th {
		padding: 10px 25px;
	    }
	}
	.info_block.download {
	    a {
		padding-left: 36px;
	    }
	}
    }
}

@media screen and (max-width: 590px) {
    h3.brand_name, .new_items_all {
	padding-top: 5px;
    }
    .new_items_all strong {
	margin-right: 20px;
    }
    #content .country {
	width: auto;
	float: none;
	max-width: 200px;
    }
    
    #content .text_block {
	margin-right: 0
    }
    .no_vacancies, .vacancies_list {
	padding-top: 36px;
    }
    .vacancy {
	clear: left;
	margin-left: -220px;
	.vacancy_i {
	    .strong {
		width: 110px;
		font-size: 11px;
		line-height: 130%;
	    }
	    p {
		margin-left: 130px;
		font-size: 13px;
		line-height: 110%;
	    }
	}
    }
    
    .reviews {
	.review {
	    width: 40%;
	    vertical-align: top;
	    margin: 0 5px 35px;
	    padding-top: 19px;
	    
	    a {
		display: block;
		
		img {
		    max-width: 100%;
		}
	    }
	}
    }
    
    .scrap_table {
	table {
	    font-size: 11px;
	    
	    td, th {
		padding: 10px 15px;
	    }
	}
	.info_block.download {
	    margin-right: 40px;
	}
    }
}

@media screen and (max-width: 450px) {
    .left_col {
	float: none;
	width: 100%;
	padding-top: 1px;
	
	nav {
	    clear: none;
	    margin-left: 0%;
	    
	    li {
		display: inline-block;
		width: 180px;
	    }
	}
	.info_block {
	    float: left;
	}
    }
    .left_indent {
	margin-left: 0;
	
	.new_items_all {
	    margin-top: 0;
	}
    }
    h3.brand_name {
	margin-top: 4px;
	text-align: center;
    }
    #content .country {
	margin: 0 auto;
    }
    
    .vacancy {
	clear: left;
	margin-left: 0px;
    }
    
    .scrap_table {
	table {
	    font-size: 10px;
	    
	    td, th {
		padding: 5px 10px;
	    }
	}
    }
}

/* end content styles */