/* start forms styles */

.form_block {
    
    label {
	display: block;
	font-size: 13px;
	margin-bottom: 2px;
    }
    
    input, textarea, select {
	padding: 5px;
	margin: 0 0 5px;
	width: 100%;
	height: 29px;
	outline: none;
	border: 2px solid #e3e3e3;
	background: none;
	font-family: $font_family_os;
	font-size: 12px;
	font-weight: 500;
	line-height: 15px;
	border-radius: 3px;
	color: $color_text;
        vertical-align: top;
	box-sizing: border-box;
	
    }
    input, textarea, select {
	&:focus {
	    border-color: #d0d0d0;
	}
    }
    textarea {
	    height: 125px;
	    resize: none;
	    margin-bottom: 20px;
    }
    
    .captcha {
	float: right;
	width: 133px;
	margin-bottom: 10px;
	
	.img {
	    display: block;
	    height: 25px;
	    border: 2px solid #e3e3e3;
	    margin-bottom: 10px;
	    text-align: center;
	    line-height: 23px;
	    
	    img {
		vertical-align: middle;
	    }
	}
    }
    
    .button_block {
	clear: both;
	text-align: right;
    }
    
    input[type="submit"], input[type="reset"] {
	    margin: 0;
	    padding: 5px;
	    width: 98px;
	    height: 34px;
	    font-size: 12px;
	    font-weight: 400;
	    color: #fff;
	    background-color: $color_a;
	    cursor: pointer;
	    margin-bottom: 0;
	    border-radius: 26px;
	    @include transition(opacity);
	    border-color: $color_a;
	    float: none;
	    text-transform: uppercase;
	    opacity: 0.8;
    }
    input[type="submit"]:hover {
	    opacity: 1;
    }
    input[type="submit"]:active, input[type="reset"]:active {
	    color: $color_blue;
    }
    
}

.search {
    min-width: 235px;
    width: 130px;
    text-align:  center;
    padding-top: 50px;
    
    &.form_block {
	input[type="text"] {
	    width: 130px;
	    height: 34px;
	    border-color:  $color_a;
	    border-radius: 17px;
	    text-align: center;
	    text-transform: uppercase;
	}
	
    }
}


  
@media screen and (max-width: 999px) {
    
}

@media screen and (max-width: 800px) {
    .search {
	min-width: inherit;
	padding-top: 12px;
	
	&.form_block {
	    input[type="text"] {
		width: 130px;
		height: 34px;
		border-color:  $color_a;
		border-radius: 17px;
		text-align: center;
		text-transform: uppercase;
	    }
	    
	}
    }
}

@media screen and (max-width: 590px) {
    
}

@media screen and (max-width: 450px) {
    
}


/* end forms styles */