/* start forms styles */

.form_block {
    
    label, .webFormItemCaption {
	display: block;
	font-size: 13px;
	line-height: 135%;
	margin-bottom: 2px;
    }
    
    .webFormItemField input[type="checkbox"]:not(checked) + label, .webFormItemField input[type="radio"]:not(checked) + label {
	padding-left: 28px;
    }
    
    .webFormItem {
	padding: 0 35px;
	margin: 0;
    }
    
    input[type="password"], input[type="text"], textarea, select, .webFormItemField input[type="password"], .webFormItemField input[type="text"], .webFormItemField select {
	padding: 5px;
	margin: 0 0 5px;
	width: 100%;
	height: 29px;
	outline: none;
	border: 2px solid #e3e3e3;
	background: none;
	font-family: $font_family_os;
	font-size: 12px;
	font-weight: 500;
	line-height: 15px;
	border-radius: 3px;
	color: $color_text;
        vertical-align: top;
	box-sizing: border-box;
	
    }
    input[type="password"], input[type="text"], textarea, select, .webFormItemField input[type="password"], .webFormItemField input[type="text"], .webFormItemField select {
	&:focus {
	    border: 2px solid #d0d0d0;
	}
    }
    textarea {
	    height: 85px;
	    resize: none;
	    //margin-bottom: 20px;
    }
    
    .webFormItemField {
	position: relative;
    }
    input[type="checkbox"], .webFormItemField input[type="checkbox"] {
	padding: 5px;
	margin: 0 0 5px;
	width: 21px;
	height: 21px;
	outline: none;
	border: 2px solid #e3e3e3;
	background: none;
	font-family: $font_family_os;
	font-size: 12px;
	font-weight: 500;
	line-height: 15px;
	border-radius: 3px;
	color: $color_text;
        vertical-align: top;
	box-sizing: border-box;
	opacity: 1;
	top: -2px;
	left: -2px;
	
	position: absolute;
	
    }
    input[type="checkbox"], .webFormItemField input[type="checkbox"] {
	&:focus {
	    border: 2px solid #d0d0d0;
	}
    }
    
    .captcha, .webFormCaptchaPicture {
	float: right;
	width: 181px;
	margin-bottom: 10px;
	margin-top: 0;
	
	.img {
	    display: block;
	    height: 25px;
	    border: 2px solid #e3e3e3;
	    margin-bottom: 10px;
	    text-align: center;
	    line-height: 23px;
	    
	    img {
		vertical-align: middle;
	    }
	}
    }
    
    .button_block {
	clear: both;
	text-align: right;
	padding: 0 35px;
	
	&:after, &:before {
	    display:  none;
	}
    }
    
    input[type="submit"], input[type="reset"] {
	    margin: 0;
	    padding: 5px;
	    width: 98px;
	    height: 34px;
	    font-size: 12px;
	    font-weight: 400;
	    color: #fff;
	    background-color: $color_a;
	    cursor: pointer;
	    margin-bottom: 0;
	    border-radius: 26px;
	    @include transition(opacity);
	    border: 2px solid $color_a;
	    float: none;
	    text-transform: uppercase;
	    opacity: 0.8;
    }
    input[type="submit"]:hover {
	    opacity: 1;
    }
    input[type="submit"]:active, input[type="reset"]:active {
	    color: $color_blue;
    }
    
    .webFormItemRequired {
	display: none;
    }
    
}

.search {
    min-width: 235px;
    width: 130px;
    text-align:  center;
    padding-top: 50px;
    
    &.form_block {
	input[type="text"] {
	    width: 130px;
	    height: 34px;
	    border-color:  $color_a;
	    border-radius: 17px;
	    text-align: center;
	    text-transform: uppercase;
	}
	
    }
}
  
//@media screen and (max-width: 999px) {
//    
//}

@media screen and (max-width: 800px) {
    .search {
	min-width: inherit;
	padding-top: 12px;
	
	&.form_block {
	    input[type="text"] {
		width: 130px;
		height: 34px;
		border-color:  $color_a;
		border-radius: 17px;
		text-align: center;
		text-transform: uppercase;
	    }
	    
	}
    }
    
    .form_block .webFormItem {
	padding: 0 30px;
    }
}

@media screen and (max-width: 590px) {
    .form_block {
	.webFormItem {
	    padding: 0 25px;
	}
	.webFormItemField input[type="checkbox"]:not(checked) + label, .webFormItemField input[type="radio"]:not(checked) + label {
	    font-size: 11px;
	    line-height: 135%;
	    padding-left: 23px;
	}
    }
}
//
//@media screen and (max-width: 450px) {
//    
//}


/* end forms styles */